@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #1A1C47;
  margin: auto;
  
}

#root {
  align-items: center;
  justify-items: center;
  margin: auto;
  max-width:  1440px;
 
}

